NAAM=
VOORNAAM=
RRN=
GBDATUM=
TEL=
EMAIL=
ADRES=
POSTCODE=
ZEERSTE_V_RIJBEWIJS_DATUM=
ZHUIDIG_V_RIJBEWIJS_DATUM=
ZHUIDIG_V_RIJBEWIJS_GELDIG_TOT=
API_BASE_URL=https://rijbewijsboeker.be
PROXY=http://gebruiker:wachtwoord@proxy.voorbeeld.be:33335

SBAT_EMAIL=
SBAT_PSSWD=

SENTRY_DSN=
ADDON_PATH=